.booking-details {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .booking-details h2 {
    margin-bottom: 20px;
  }

  .bg-custom{
    background-color:bisque ;
  }