<div class="container">
    <div class="card">
      <div class="card-header bg-danger text-white">
        Booking Cancelled
      </div>
      <div class="card-body">
        <p>Your booking has been cancelled.</p>
        <p>Booking Reference Number: <strong>{{myBooking.refNo}}</strong></p>
        <p>Flight Date: <strong>{{myBooking.flightDate}}</strong></p>
        <p>Amount: <strong>{{myBooking.amount}}</strong></p>
        <button class="btn btn-primary rounded-2" routerLink="/bookings">Return to Bookings</button>
      </div>
    </div>
  </div>
